@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

.escalation-v2 {
  align-items: flex-start;
  background-color: 
#f9fafe;
  display: flex;
  height: 1024px;
  padding: 0 2px;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group4 {
  height: 807px;
  margin-left: 100px;
  margin-top: 50px;
  position: relative;
  width: 1286px;
}

.richat-follow-up-line {
  height: 16px;
  left: 74px;
  position: absolute;
  top: 365px;
  width: 16px;
}

.ellipse-408 {
  background-color: 
#f2df36;
  border-radius: 12.5px;
  height: 25px;
  left: 69px;
  position: absolute;
  top: 753px;
  width: 25px;
}

.ellipse-406 {
  background-color: 
#a259ff;
  border-radius: 12.5px;
  height: 25px;
  left: 69px;
  position: absolute;
  top: 612px;
  width: 25px;
}

.fluentperson-feedback-16-filled {
  height: 16px;
  left: 73px;
  position: absolute;
  top: 155px;
  width: 16px;
}

.line-146 {
  height: 1px;
  left: 80px;
  position: absolute;
  top: 455px;
  width: 1200px;
}

.ellipse-405 {
  background-color: var(--white);
  border: 0.2px solid var(--jungle-green);
  border-radius: 12.5px;
  height: 25px;
  left: 69px;
  position: absolute;
  top: 543px;
  width: 25px;
}

.ellipse-400 {
  background-color: 
#538fea;
  border-radius: 12.5px;
  height: 25px;
  left: 68px;
  position: absolute;
  top: 80px;
  width: 25px;
}

.logosgoogle-meet {
  height: 10px;
  left: 74px;
  position: absolute;
  top: 551px;
  width: 15px;
}

.bxbxs-user-account {
  height: 15px;
  left: 73px;
  position: absolute;
  top: 85px;
  width: 15px;
}

.ellipse-402 {
  background-color: var(--jungle-green);
  border-radius: 12.5px;
  height: 25px;
  left: 68px;
  position: absolute;
  top: 220px;
  width: 25px;
}

.claritychat-bubble-outline-badged {
  height: 15px;
  left: 74px;
  position: absolute;
  top: 618px;
  width: 15px;
}

.group-1432 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 350px;
  position: absolute;
  top: 457px;
  width: 485px;
}

.task-updates-8 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-left: 2px;
  margin-top: 19px;
  min-width: 483px;
}



.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 500px;
}

.finish-project-docum {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 10px;
  margin-top: 0px;
  min-width: 10px;
}

.photo {
  height: 20px;
  object-fit: cover;
  width: 20px;
}


.overlap-group-container-1 {
  align-items: center;
  display: flex;
  margin-left: 5px;
  min-width: 94px;
}

.overlap-group3 {
  align-items: center;
  background-color: 
#aeafb2;
  border-radius: 6px;
  display: flex;
  height: 38px;
  margin-left: 20px;
  min-width: 20px;
  padding: 0 10px;
}

.number {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  min-width: 18px;
  white-space: nowrap;
}

.overlap-group2 {
  height: 42px;
  position: relative;
  width: 36px;
}

.jul-1 {
  left: 11px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.thu {
  left: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.span1 {
  letter-spacing: -0.26px;
}

.span0 {
  letter-spacing: 0.31px;
}

.task-updates-5 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-top: 47px;
  min-width: 299px;
}

.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 200px;
}



.task-updates-7 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-left: 2px;
  margin-top: 5px;
  min-width: 40px;
}


.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 25px;
  width: 400px;
}


.task-updates-6 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-top: 19px;
  min-width: 321px;
}

.flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 250px;
}

.chat-about-design-mentorship {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.ellipse-401 {
  background-color: 
#dc395f;
  border-radius: 12.5px;
  height: 25px;
  left: 68px;
  position: absolute;
  top: 150px;
  width: 25px;
}

.fluentimportant-12-filled {
  height: 12px;
  left: 75px;
  position: absolute;
  top: 691px;
  width: 12px;
}

.line-145 {
  height: 763px;
  left: 80px;
  position: absolute;
  top: 38px;
  width: 1px;
}

.group-1431 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 420px;
  position: absolute;
  top: 0;
  width: 612px;
}

.task-updates-3 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-left: 2px;
  margin-top: 19px;
  min-width: 436px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 331px;
}

.task-name-updated-fo {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.task-updates-2 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-left: 2px;
  margin-top: 19px;
  min-width: 326px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 221px;
}

.task-marked-completed-by-you {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.task-updates-1 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-top: 19px;
  min-width: 379px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 274px;
}

.new-feedback-recieved-for-task-name {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.task-updates-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 51px;
  margin-top: 19px;
  min-width: 607px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 502px;
}

.follow-up-on-feedbac {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.task-updates {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-top: 35px;
  min-width: 288px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 51px;
  width: 183px;
}

.new-task-assigned-to-you {
  color: var(--jungle-green);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0px;
  min-height: 0px;

}

.overlap-group-container {
  align-items: center;
  display: flex;
  margin-left: 3px;
  min-width: 96px;
}

.overlap-group1 {
  height: 42px;
  position: relative;
  width: 38px;
}


.overlap-group {
  align-items: center;
  background-color: var(--jungle-green);
  border-radius: 6px;
  display: flex;
  height: 38px;
  margin-left: 20px;
  min-width: 22px;
  padding: 0 8px;
}

.ellipse-404 {
  background-color: 
#f2bb27;
  border-radius: 12.5px;
  height: 25px;
  left: 69px;
  position: absolute;
  top: 360px;
  width: 25px;
}

.akar-iconscheck {
  height: 16px;
  left: 73px;
  position: absolute;
  top: 225px;
  width: 16px;
}

.ggsand-clock {
  height: 16px;
  left: 73px;
  position: absolute;
  top: 758px;
  width: 16px;
}

.ellipse-407 {
  background-color: 
#e94235;
  border-radius: 12.5px;
  height: 25px;
  left: 69px;
  position: absolute;
  top: 684px;
  width: 25px;
}

.icoutline-browser-updated {
  height: 16px;
  left: 73px;
  position: absolute;
  top: 295px;
  width: 16px;
}

.ellipse-403 {
  background-color: 
#fb8789;
  border-radius: 12.5px;
  height: 25px;
  left: 68px;
  position: absolute;
  top: 290px;
  width: 25px;
}


:root {
  --black-2: 
rgba(0, 0, 0, 0.298);
  --black: 
rgba(0, 0, 0, 1);
  --jungle-green: 
rgba(63, 184, 131, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-xs: 14px;
  --font-size-s: 15px;
  --font-size-m: 16px;

  --font-family-roboto: "Roboto";
}


